@page "/students"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LibraryManagementwithBlazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LibraryManagementwithBlazor.Data.LibraryManagementwithBlazorContext> DbFactory

<PageTitle>Student Index</PageTitle>

<h1>Student Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TblStudent">
    <PropertyColumn Property="student => student.FirstName" Title="First Name" />
    <PropertyColumn Property="student => student.LastName" Title="Last Name" />

    <TemplateColumn Context="student" Title="Actions">
        <a href="@($"students/edit?librarycardnum={student.LibraryCardNum}")">Edit</a> |
        <a href="@($"students/details?librarycardnum={student.LibraryCardNum}")">Details</a> |
        <a href="@($"students/delete?librarycardnum={student.LibraryCardNum}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private LibraryManagementwithBlazorContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
