@inherits LayoutComponentBase

<head>
    <link href="css/output.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />

</head>

<div class="bg-white h-screen flex">
    <!-- Sidebar -->
    <NavMenu />

    <!-- Main Content -->
    <div class="flex-1 flex flex-col items-center mt-4 text-gray-800">
        <!-- Header -->
        <header class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-6 text-center mb-4">
            <a href="/" class="block text-3xl font-bold text-gray-800 hover:text-gray-600 focus:outline-none">
                Library Manager
            </a>
        </header>



        <!-- Pages -->
        <article class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-6 ">
            @Body
        </article>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="scripts.js"></script>
