@inherits LayoutComponentBase

<head>
    <link href="css/output.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
</head>


<div class="bg-white h-screen flex">
    <div class="h-[94vh] bg-gray-100 text-gray-700 flex flex-col rounded-xl shadow-md m-4">
        <NavMenu />

    </div>
    <div class="flex-col m-4">

    <main>
        @* Header  *@

        <article class="justify-content-center">
            @Body
        </article>
    </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
