<nav class="h-[94vh] bg-white text-gray-700 flex flex-col rounded-lg shadow-lg m-4 px-4 py-6 space-y-6">
    @foreach (var navItem in navItems)
    {
        <a href="@navItem.Key" class="flex items-center space-x-4 text-sm text-gray-700 hover:text-black">
            <img src="@navItem.Value.Icon" class="w-6 h-6" alt="@navItem.Value.Name Icon" />
            <span>@navItem.Value.Name</span>
        </a>
    }
</nav>

@code {
    private readonly Dictionary<string, (string Name, string Icon)> navItems = new()
    {
        { "/", ("Home", "Resources/home.png") },
        { "books", ("Books", "Resources/books.png") },
        { "students", ("Students", "Resources/students.png") },
        { "borrowedbooks", ("Borrowed", "Resources/borrowed_books.png") },
        { "statistics", ("Statistics", "Resources/statistics.png") },
        { "importexport", ("Import & Export", "Resources/import_export.png") },
        { "borrowreturn", ("Borrow or Return", "Resources/borrow_return.png") }
    };
}
